section(class="hero")
    div(class="container hero__container")
        div(class="layout hero__layout")
            h1(class="h h--1 hero__h") Providing Best <br> <span class="colored">WEB Services</span>
            p(class="p hero__p") Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as.
            div(class="hero__wrapper")
                a(class="btn btn--filled hero__start" href="#") Get Started
                a(class="btn hero__explore" href="#") Explore