.footer {
    background: no-repeat center / cover url('../img/footer/bg-1.jpg') #2c2c2c;

    &__layout {
        display: flex;
        flex-direction: column;
        padding-top: 11.8vw;
        padding-bottom: 1.88vw;
    }

    &__h,
    &__demo, 
    &__desc, 
    &__subtitle, 
    &__copy {
        color: #fff;
    }

    &__h {
        align-self: center;
        max-width: 767px;
        margin-bottom: 4.6vw;
        color: #fff;
        font-weight: 600;
        line-height: 1.17;
        text-align: center;
    }

    &__demo {
        border-color: #fff;
        margin-bottom: 12.5vw;
        padding: 1.163em 2.4em;
        align-self: center;
    }

    &__wrapper {
        align-self: center;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 1030px;
        margin-bottom: 5.6vw;
    }
    &__box:nth-child(1) {
        flex: 0 0 168px;
        margin-right: 5vw;
    }

    &__box:nth-child(4) {
        flex: 0 1 116px;
    }

    &__logo {
        margin-bottom: 0.5vw;
    }

    &__desc {
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.17;
    }

    &__list {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }

    &__subtitle {
        margin-bottom: 2.2vw;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1.17;
    }

    &__copy {
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.17;
        align-self: center;
    }
}

.list-footer {
    &__item:not(:last-child) {
        margin-bottom: 1.2vw;
    }

    &__link {
        color: #fff;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.17;
        text-decoration: none;
    }
}

@media screen and ( max-width: 1200px ) {
    .footer {
        &__wrapper {
            flex-wrap: wrap;
            width: unset;
        }

        &__box {
            margin-bottom: 5vw;
        }

        &__box:nth-child(1) {
            margin-right: 0;
        }
    }
}