@import '../fonts/fonts.scss';

:root {
    box-sizing: border-box;
    color: var(--color-text);
    font: 500 16px/1.48 'Gilroy', sans-serif;

    --color-brand: #25A4AD;
    --color-hover: pink;
    --color-text: #313131;
    --color-star: #F5B91E;
}

*, 
::after, 
::before {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

/* CONTAINER */

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

/* UI */

@import '../ui/a/a.scss';
@import '../ui/btn/btn.scss';
@import '../ui/link/link.scss';
@import '../ui/p/p.scss';
@import '../ui/h/h.scss';
@import '../ui/rate/rate.scss';
@import '../ui/acc/acc.scss';

/* SECTIONS */

@import '../sections/header/header.scss';
@import '../sections/hero/hero.scss';
@import '../sections/sponsor/sponsor.scss';
@import '../sections/service/service.scss';
@import '../sections/feature/feature.scss';
@import '../sections/testimonial/testimonial.scss';
@import '../sections/plan/plan.scss';
@import '../sections/faq/faq.scss';
@import '../sections/footer/footer.scss';

/* COLORED */

.colored {
    color: var(--color-brand);
}

@media screen and ( max-width: 1023px ) {
    :root {
        font-size: 16px;
    }
}