.header {
    background: no-repeat top left / 2% url("../img/header/bg-1.svg"), no-repeat top right url("../img/header/bg-2.svg");

    &__layout {
        display: flex;
        align-items: center;
        padding: 2.75vw 0 1.4vw;
    }

    &__nav {
        width: 100%;
    }
}

.nav-header {
    &__logo {
        margin-right: 3.6vw;
        font-size: 1.386rem;
        font-weight: 800;
        line-height: 1.4;
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }

    &__item:not(:last-child) {
        margin-right: 3.5vw;
    }

    &__link, 
    &__login {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.17;
    }

    &__login {
        &--sign-in {
            margin-right: 1.94vw;
            margin-left: auto;
        }

        &--sign-up {
            padding: 0.971em 2.445em;
        }
    }
}

.hamburger {
    --duration: 200ms;
    --timing-function: ease-in-out;
    --bgItem: #fff;
    --btnSize: 44px;
    --itemBorderRadius: 2px;
    --itemHeight: 2px;
    --itemWidth: 20px;
    --itemGap: 8px;
    
    position: relative;
    z-index: 99001;
    border: none;
    border-radius: 0;
    display: none;
    align-items: center;
    justify-content: center;
    height: 44px;
    height: var(--btnSize);
    width: 44px;
    width: var(--btnSize);
    padding: 0;
    background: none;
    cursor: pointer;
    overflow: hidden;
}

.hamburger__item, 
.hamburger__item::before, 
.hamburger__item::after {
    border-radius: 2px;
    border-radius: var(--itemBorderRadius);
    height: 2px;
    height: var(--itemHeight);
    width: 20px;
    width: var(--itemWidth);
    background: #fff;
    background: var(--color-text);
    transition: all 200ms ;
    transition: all calc(var(--duration)) var(--timing-function);
}

.hamburger__item {
    position: relative;
}

[aria-expanded='true'] .hamburger__item {
    background: transparent;
}

.hamburger__item::before, 
.hamburger__item::after {
    content: '';
    position: absolute;
    display: block;
}

.hamburger__item::before {
    transform: translateY(-8px);
    transform: translateY(calc(var(--itemGap) * -1));
}

[aria-expanded='true'] .hamburger__item::before {
    transform: translateY(0) rotate(45deg);
}

.hamburger__item::after {
    transform: translateY(8px);
    transform: translateY(var(--itemGap));

}

[aria-expanded='true'] .hamburger__item::after {
    transform: translateY(0) rotate(-45deg);
}

@media screen and ( max-width: 1023px ) {
    .hamburger.js {
        display: flex;
    }

    .header {
        background: none;

        &__layout {
            display: block;
        }

        &__logo {
            margin-right: 0;
        }
    }

    .nav-header {
        &__wrapper {
            display: block;
        }

        &__logo {
            display: block;
            max-width: 5em;
            margin: auto;
            text-align: center;
        }

        &__list {
            display: block;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
            list-style: none;

            &.js {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 99000;
                padding: 44px 15px;
                background: rgba(0 0 0 / .9);
                overflow: auto;
                transform: translateX(-100%);
                transition: transform 200ms ease-in-out, visibility 0ms 200ms;
                visibility: hidden;
                will-change: transform;
            }

            &.nav-header__list--open {
                transform: none;
                transition: transform 200ms ease-in-out, visibility 0ms 0ms;
                visibility: visible;
            }
        }

        &__item:not(:last-child) {
            margin-right: 0;
        }

        &__link {
            display: block;
            padding: .5em 0;
        }

        &__login {
            border: none;
            display: block;
            margin-right: 0;
            padding: 0.5em 0;
            color: var(--color-text);
        }
    }
}