section(class="plan")
    div(class="container plan__container")
        div(class="layout plan__layout")
            h2(class="h h--2 plan__h") Our <span class="colored">Pricing Plan</span>
            ul(class="plan__list list-plan")
                li(class="list-plan__item")
                    div(class="list-plan__body")
                        h3(class="h h--3 list-plan__h") For Starter
                        span(class="list-plan__price") $59
                        ul(class="list-plan__feature feature-list-plan")
                            li(class="feature-list-plan__item")
                                p(class="feature-list-plan__p") Feedback Categorization
                            li(class="feature-list-plan__item")
                                p(class="feature-list-plan__p") Features Prioritization
                            li(class="feature-list-plan__item")
                                p(class="feature-list-plan__p") Real-Time Collaboration
                            li(class="feature-list-plan__item")
                                p(class="feature-list-plan__p") Feedback Loop Notifications
                            li(class="feature-list-plan__item")
                                p(class="feature-list-plan__p") Essential Dev Tools Integrations
                        a(class="btn list-plan__demo" href="#") Request Demo 
                li(class="list-plan__item list-plan__item--colored")
                    div(class="list-plan__body list-plan__body--colored")
                        h3(class="h h--3 list-plan__h list-plan__h--colored") For Teams
                        span(class="list-plan__price list-plan__price--colored") $99
                        ul(class="list-plan__feature feature-list-plan")
                            li(class="feature-list-plan__item feature-list-plan__item--colored")
                                p(class="feature-list-plan__p feature-list-plan__p--colored") Feedback Categorization
                            li(class="feature-list-plan__item feature-list-plan__item--colored")
                                p(class="feature-list-plan__p feature-list-plan__p--colored") Features Prioritization
                            li(class="feature-list-plan__item feature-list-plan__item--colored")
                                p(class="feature-list-plan__p feature-list-plan__p--colored") Real-Time Collaboration
                            li(class="feature-list-plan__item feature-list-plan__item--colored")
                                p(class="feature-list-plan__p feature-list-plan__p--colored") Feedback Loop Notifications
                            li(class="feature-list-plan__item feature-list-plan__item--colored")
                                p(class="feature-list-plan__p feature-list-plan__p--colored") Essential Dev Tools Integrations
                        a(class="btn list-plan__demo list-plan__demo--colored" href="#") Request Demo 
                li(class="list-plan__item")
                    div(class="list-plan__body")
                        h3(class="h h--3 list-plan__h") For Company
                        span(class="list-plan__price") Custom
                        ul(class="list-plan__feature feature-list-plan")
                            li(class="feature-list-plan__item")
                                p(class="feature-list-plan__p") Feedback Categorization
                            li(class="feature-list-plan__item")
                                p(class="feature-list-plan__p") Feedback loop notifications
                            li(class="feature-list-plan__item")
                                p(class="feature-list-plan__p") Essential dev tools integrations
                        a(class="btn list-plan__demo" href="#") Contact Us