section(class="plan")
    div(class="container plan__container")
        div(class="layout plan__layout")
            h2(class="h h--2 plan__h") Our <span class="colored">Pricing Plan</span>
            ul(class="plan__list list-plan")
                li(class="list-plan__item")
                    h3(class="h h--3 list-plan__h") For Starter
                    span(class="list-plan__price") $59
                    ul(class="list-plan__feature feature-list-plan")
                        li(class="feature-list-plan__item")
                            p(class="feature-list-plan__text") Feedback Categorization
                        li(class="feature-list-plan__item")
                            p(class="feature-list-plan__text") Features prioritization
                        li(class="feature-list-plan__item")
                            p(class="feature-list-plan__text") Real-time collaboration
                        li(class="feature-list-plan__item")
                            p(class="feature-list-plan__text") Feedback loop notifications
                        li(class="feature-list-plan__item")
                            p(class="feature-list-plan__text") Essential dev tools integrations
                    a(class="a list-plan__demo" href="#") Request Demo 
                li(class="list-plan__item")
                    h3(class="h h--3 list-plan__h") For Teams
                    span(class="list-plan__price") $99
                    ul(class="list-plan__feature feature-list-plan")
                        li(class="feature-list-plan__item")
                            p(class="feature-list-plan__text") Feedback Categorization
                        li(class="feature-list-plan__item")
                            p(class="feature-list-plan__text") Features prioritization
                        li(class="feature-list-plan__item")
                            p(class="feature-list-plan__text") Real-time collaboration
                        li(class="feature-list-plan__item")
                            p(class="feature-list-plan__text") Feedback loop notifications
                        li(class="feature-list-plan__item")
                            p(class="feature-list-plan__text") Essential dev tools integrations
                    a(class="a list-plan__demo" href="#") Request Demo 
                li(class="list-plan__item")
                    h3(class="h h--3 list-plan__h") For Company
                    span(class="list-plan__price") Custom
                    ul(class="list-plan__feature feature-list-plan")
                        li(class="feature-list-plan__item")
                            p(class="feature-list-plan__text") Feedback Categorization
                        li(class="feature-list-plan__item")
                            p(class="feature-list-plan__text") Features prioritization
                        li(class="feature-list-plan__item")
                            p(class="feature-list-plan__text") Real-time collaboration
                        li(class="feature-list-plan__item")
                            p(class="feature-list-plan__text") Feedback loop notifications
                        li(class="feature-list-plan__item")
                            p(class="feature-list-plan__text") Essential dev tools integrations
                    a(class="a list-plan__demo" href="#") Request Demo