extends ../templates/layout.pug

block variables
    - 
        let title = 'Freebie';
        let navList = [
            {
                inner: 'Home', 
                href: "#", 
            }, 
            {
                inner: 'About', 
                href: "#", 
            }, 
            {
                inner: 'Testimonials', 
                href: "#", 
            }, 
            {
                inner: 'Contact', 
                href: "#", 
            }, 
        ];
        let logoList = [
            {
                src: 'assets/img/sponsor/logo-1.svg', 
            }, 
            {
                src: 'assets/img/sponsor/logo-2.svg', 
            }, 
            {
                src: 'assets/img/sponsor/logo-3.svg', 
            }, 
            {
                src: 'assets/img/sponsor/logo-4.svg', 
            }, 
            {
                src: 'assets/img/sponsor/logo-5.svg', 
            }, 
        ];
        let serviceVisible = 4;
        let serviceList = [
            {
                title: 'Web Development', 
                rate: 5, 
                src: 'assets/img/service/bg-1.webp', 
            }, 
            {
                title: 'Web Designing', 
                rate: 5, 
                src: 'assets/img/service/bg-2.webp', 
            }, 
            {
                title: 'Database Management', 
                rate: 5, 
                src: 'assets/img/service/bg-3.webp', 
            }, 
            {
                title: 'SEO', 
                rate: 5, 
                src: 'assets/img/service/bg-4.webp', 
            }, 
            {
                title: 'SEO', 
                rate: 2, 
                src: 'assets/img/service/bg-4.webp', 
            }, 
            {
                title: 'SEO', 
                rate: 4, 
                src: 'assets/img/service/bg-4.webp', 
            }, 
            {
                title: 'SEO', 
                rate: 5, 
                src: 'assets/img/service/bg-4.webp', 
            }, 
            {
                title: 'SEO', 
                rate: 3, 
                src: 'assets/img/service/bg-4.webp', 
            }, 
        ];
        let featureList = [
            {
                title: 'Work Load', 
                text: 'Outward clothes promise at gravity do excited. Sufficient particular impossible by reasonable oh expression is. Yet preference connection unpleasant yet melancholy but end appearance.', 
            }, 
            {
                title: 'Time Tracking', 
                text: 'Outward clothes promise at gravity do excited. Sufficient particular impossible by reasonable oh expression is. Yet preference connection unpleasant yet melancholy but end appearance.', 
            }, 
            {
                title: 'Collaborations', 
                text: 'Outward clothes promise at gravity do excited. Sufficient particular impossible by reasonable oh expression is. Yet preference connection unpleasant yet melancholy but end appearance.', 
            }, 
            {
                title: 'Kanban', 
                text: 'Outward clothes promise at gravity do excited. Sufficient particular impossible by reasonable oh expression is. Yet preference connection unpleasant yet melancholy but end appearan', 
            }, 
        ];
        let testimonialList = [
            {
                title: 'Best Developers', 
                text: 'Outward clothes promise at gravity do excited. Sufficient particular impossible by reasonable oh expression is. Yet preference connection unpleasant yet melancholy but end appearance. And excellence partiality estimating terminated day everything.', 
                rate: 5, 
                name: 'Robert Johnson', 
                job: 'Director at Behance', 
            }, 
            {
                title: 'Lorem, ipsum', 
                text: 'Outward clothes promise at gravity do excited. Sufficient particular impossible by reasonable oh expression is. Yet preference connection unpleasant yet melancholy but end appearance. And excellence partiality estimating terminated day everything.', 
                rate: 3, 
                name: 'Lorem, ipsum', 
                job: 'Lorem, ipsum dolor', 
            },  
            {
                title: 'Lorem, ipsum', 
                text: 'Outward clothes promise at gravity do excited. Sufficient particular impossible by reasonable oh expression is. Yet preference connection unpleasant yet melancholy but end appearance. And excellence partiality estimating terminated day everything.', 
                rate: 4, 
                name: 'Lorem, ipsum', 
                job: 'Lorem, ipsum dolor', 
            },  
        ];

block header
    include ../../sections/header/header.pug
block main
    include ../../sections/hero/hero.pug
    include ../../sections/sponsor/sponsor.pug
    include ../../sections/service/service.pug
    include ../../sections/feature/feature.pug
    include ../../sections/testimonial/testimonial.pug
    include ../../sections/plan/plan.pug
    include ../../sections/faq/faq.pug
block footer
    include ../../sections/footer/footer.pug