extends ../templates/layout.pug

block variables
    - 
        let navList = [
            {
                inner: 'Home', 
                href: "#", 
            }, 
            {
                inner: 'About', 
                href: "#", 
            }, 
            {
                inner: 'Testimonials', 
                href: "#", 
            }, 
            {
                inner: 'Contact', 
                href: "#", 
            }, 
        ];
        let logoList = [
            {
                src: 'assets/img/sponsor/logo-1.svg', 
            }, 
            {
                src: 'assets/img/sponsor/logo-2.svg', 
            }, 
            {
                src: 'assets/img/sponsor/logo-3.svg', 
            }, 
            {
                src: 'assets/img/sponsor/logo-4.svg', 
            }, 
            {
                src: 'assets/img/sponsor/logo-5.svg', 
            }, 
        ];
        let serviceVisible = 4;
        let serviceList = [
            {
                title: 'Web Development', 
                rate: 1, 
                src: 'assets/img/service/bg-1.webp', 
            }, 
            {
                title: 'Web Designing', 
                rate: 2, 
                src: 'assets/img/service/bg-2.webp', 
            }, 
            {
                title: 'Database Management', 
                rate: 3, 
                src: 'assets/img/service/bg-3.webp', 
            }, 
            {
                title: 'SEO', 
                rate: 4, 
                src: 'assets/img/service/bg-4.webp', 
            }, 
            {
                title: 'SEO', 
                rate: 4, 
                src: 'assets/img/service/bg-4.webp', 
            }, 
            {
                title: 'SEO', 
                rate: 4, 
                src: 'assets/img/service/bg-4.webp', 
            }, 
        ];
        let featureList = [
            {
                title: 'Work Load', 
                text: 'Outward clothes promise at gravity do excited. Sufficient particular impossible by reasonable oh expression is. Yet preference connection unpleasant yet melancholy but end appearance.', 
            }, 
            {
                title: 'Time Tracking', 
                text: 'Outward clothes promise at gravity do excited. Sufficient particular impossible by reasonable oh expression is. Yet preference connection unpleasant yet melancholy but end appearance.', 
            }, 
            {
                title: 'Collaborations', 
                text: 'Outward clothes promise at gravity do excited. Sufficient particular impossible by reasonable oh expression is. Yet preference connection unpleasant yet melancholy but end appearance.', 
            }, 
            {
                title: 'Kanban', 
                text: 'Outward clothes promise at gravity do excited. Sufficient particular impossible by reasonable oh expression is. Yet preference connection unpleasant yet melancholy but end appearan', 
            }, 
        ];
        let testimonialList = [
            {
                title: 'Best Developers', 
                text: 'Outward clothes promise at gravity do excited. Sufficient particular impossible by reasonable oh expression is. Yet preference connection unpleasant yet melancholy but end appearance. And excellence partiality estimating terminated day everything.', 
                rate: 5, 
                name: 'Robert Johnson', 
                job: 'Director at Behance', 
            }, 
            {
                title: 'Lorem, ipsum', 
                text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi molestias odit quaerat nihil omnis unde quod? Nobis labore repudiandae, error dolorem eum ipsam odit aliquid, itaque magni beatae vitae cupiditate animi minima incidunt inventore non facilis excepturi voluptates praesentium dolor voluptatum provident corporis maxime. Eum voluptatibus quaerat obcaecati iure libero.', 
                rate: 3, 
                name: 'Lorem, ipsum', 
                job: 'Lorem, ipsum dolor', 
            },  
            {
                title: 'Lorem, ipsum', 
                text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod iusto natus nemo ducimus corrupti sit dolorem temporibus possimus quibusdam soluta autem, consequuntur obcaecati maiores iste fuga in dolor cum ab placeat. In at doloribus numquam quam iusto est tenetur optio, omnis blanditiis aperiam aliquid, provident debitis, eveniet ab nisi quaerat animi amet! Corporis ipsum, quia alias quos magni optio velit laudantium sequi similique! Voluptas quisquam ab cumque ea aperiam nisi.', 
                rate: 4, 
                name: 'Lorem, ipsum', 
                job: 'Lorem, ipsum dolor', 
            },  
        ];

block header
    include ../../sections/header/header.pug
block main
    include ../../sections/hero/hero.pug
    include ../../sections/sponsor/sponsor.pug
    include ../../sections/service/service.pug
    include ../../sections/feature/feature.pug
    include ../../sections/testimonial/testimonial.pug
    include ../../sections/plan/plan.pug
    include ../../sections/faq/faq.pug
block footer
    include ../../sections/footer/footer.pug