extends ../templates/layout.pug

block variables
    - 
        let navList = [
            {
                inner: 'Home', 
                href: "#", 
            }, 
            {
                inner: 'About', 
                href: "#", 
            }, 
            {
                inner: 'Testimonials', 
                href: "#", 
            }, 
            {
                inner: 'Contact', 
                href: "#", 
            }, 
        ];
        let logoList = [
            {
                src: 'assets/img/sponsor/logo-1.svg', 
            }, 
            {
                src: 'assets/img/sponsor/logo-2.svg', 
            }, 
            {
                src: 'assets/img/sponsor/logo-3.svg', 
            }, 
            {
                src: 'assets/img/sponsor/logo-4.svg', 
            }, 
            {
                src: 'assets/img/sponsor/logo-5.svg', 
            }, 
        ];

block header
    include ../../sections/header/header.pug
block main
    include ../../sections/hero/hero.pug
    include ../../sections/sponsor/sponsor.pug