@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Thin.woff2") format("woff2"), url("../fonts/Gilroy-Thin.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}
:root {
  box-sizing: border-box;
  color: var(--color-text);
  font: 500 16px/1.48 "Gilroy", sans-serif;
  --color-brand: #25A4AD;
  --color-hover: pink;
  --color-text: #313131;
  --color-star: #F5B91E;
}

*,
::after,
::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

/* UI */
.btn {
  border: 1px solid var(--color-brand);
  border-radius: 0;
  display: inline-block;
  padding: 0;
  color: var(--color-brand);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.17;
  text-align: center;
  text-decoration: none;
  background: none;
  transition: background-color 0.3s, color 0.3s, border-color;
}
.btn:hover {
  border-color: var(--color-hover);
  color: #fff;
  background-color: var(--color-hover);
}
.btn--filled {
  color: #fff;
  background: var(--color-brand);
}

.link {
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.3s;
}
.link:hover {
  color: var(--color-hover);
}

.p {
  margin-top: 0;
  margin-bottom: 0;
}

.h {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 100;
  line-height: 1;
}
.h .colored {
  font-weight: 600;
}
.h--1 {
  font-size: 6.25rem;
}
.h--2 {
  font-size: 4.06rem;
}
.h--3 {
  font-size: 2.25rem;
  font-weight: 600;
}

@media screen and (max-width: 1023px) {
  .h--1, .h--2 {
    font-size: 2.3rem;
    line-height: 1.2;
  }
}
.rate__icon {
  fill: gray;
}
.rate__icon--active {
  fill: var(--color-star);
}

.acc {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.acc * {
  box-sizing: inherit;
}

.acc__item:not(:last-child) {
  margin-bottom: 1em;
}

.acc__control {
  border: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  width: 100%;
  background: darkgray;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
}

.acc__title {
  margin-right: 15px;
}

.acc__icon {
  position: relative;
  font-size: 2em;
  line-height: 1;
  transition: transform 200ms ease-in-out;
  transform-origin: center;
}

.acc__icon--open {
  transform: rotate(45deg);
}

.acc__icon::before {
  content: "+";
  display: block;
}

.acc__content {
  box-sizing: content-box;
  padding: 0.5em;
  overflow: hidden;
}

.acc__content--js {
  max-height: 0;
  padding: 0 0.5em;
  transition: max-height 200ms ease-in-out, padding 200ms ease-in-out, visibility 0ms 200ms;
  visibility: hidden;
  will-change: max-height;
}

.acc__content--open {
  padding: 0.5em;
  transition: max-height 200ms ease-in-out, padding 200ms ease-in-out, visibility 0ms 0ms;
  visibility: visible;
}

/* SECTIONS */
.header {
  background: no-repeat top left/2% url("../img/header/bg-1.svg"), no-repeat top right url("../img/header/bg-2.svg");
}
.header__layout {
  display: flex;
  align-items: center;
  padding: 2.75vw 0 1.4vw;
}
.header__nav {
  width: 100%;
}

.nav-header__logo {
  margin-right: 3.6vw;
  font-size: 1.386rem;
  font-weight: 800;
  line-height: 1.4;
}
.nav-header__wrapper {
  display: flex;
  align-items: center;
}
.nav-header__list {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav-header__item:not(:last-child) {
  margin-right: 3.5vw;
}
.nav-header__link, .nav-header__login {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.17;
}
.nav-header__login--sign-in {
  margin-right: 1.94vw;
  margin-left: auto;
}
.nav-header__login--sign-up {
  padding: 0.971em 2.445em;
}

.hamburger {
  --duration: 200ms;
  --timing-function: ease-in-out;
  --bgItem: #fff;
  --btnSize: 44px;
  --itemBorderRadius: 2px;
  --itemHeight: 2px;
  --itemWidth: 20px;
  --itemGap: 8px;
  position: relative;
  z-index: 99001;
  border: none;
  border-radius: 0;
  display: none;
  align-items: center;
  justify-content: center;
  height: 44px;
  height: var(--btnSize);
  width: 44px;
  width: var(--btnSize);
  padding: 0;
  background: none;
  cursor: pointer;
  overflow: hidden;
}

.hamburger__item,
.hamburger__item::before,
.hamburger__item::after {
  border-radius: 2px;
  border-radius: var(--itemBorderRadius);
  height: 2px;
  height: var(--itemHeight);
  width: 20px;
  width: var(--itemWidth);
  background: #fff;
  background: var(--color-text);
  transition: all 200ms;
  transition: all calc(var(--duration)) var(--timing-function);
}

.hamburger__item {
  position: relative;
}

[aria-expanded=true] .hamburger__item {
  background: transparent;
}

.hamburger__item::before,
.hamburger__item::after {
  content: "";
  position: absolute;
  display: block;
}

.hamburger__item::before {
  transform: translateY(-8px);
  transform: translateY(calc(var(--itemGap) * -1));
}

[aria-expanded=true] .hamburger__item::before {
  transform: translateY(0) rotate(45deg);
}

.hamburger__item::after {
  transform: translateY(8px);
  transform: translateY(var(--itemGap));
}

[aria-expanded=true] .hamburger__item::after {
  transform: translateY(0) rotate(-45deg);
}

@media screen and (max-width: 1023px) {
  .hamburger.js {
    display: flex;
  }
  .header {
    background: none;
  }
  .header__layout {
    display: block;
  }
  .header__logo {
    margin-right: 0;
  }
  .nav-header__wrapper {
    display: block;
  }
  .nav-header__logo {
    display: block;
    max-width: 5em;
    margin: auto;
    text-align: center;
  }
  .nav-header__list {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  .nav-header__list.js {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99000;
    padding: 44px 15px;
    background: rgba(0, 0, 0, 0.9);
    overflow: auto;
    transform: translateX(-100%);
    transition: transform 200ms ease-in-out, visibility 0ms 200ms;
    visibility: hidden;
    will-change: transform;
  }
  .nav-header__list.nav-header__list--open {
    transform: none;
    transition: transform 200ms ease-in-out, visibility 0ms 0ms;
    visibility: visible;
  }
  .nav-header__item:not(:last-child) {
    margin-right: 0;
  }
  .nav-header__link {
    display: block;
    padding: 0.5em 0;
  }
  .nav-header__login {
    border: none;
    display: block;
    margin-right: 0;
    padding: 0.5em 0;
    color: var(--color-text);
  }
}
.hero {
  background: no-repeat 81% 16% url("../img/hero/bg-1.webp"), no-repeat 39.3% 5.8% url("../img/hero/bg-2.svg"), no-repeat 0% 41.6% url("../img/hero/bg-3.svg"), no-repeat 46.4% 41.5% url("../img/hero/bg-4.svg"), no-repeat 51.2% 75% url("../img/hero/bg-5.svg"), no-repeat 97% 82.7% url("../img/hero/bg-6.svg"), no-repeat 0% 92.5% url("../img/hero/bg-7.svg");
}
.hero__layout {
  padding-top: 14.4vw;
  padding-bottom: 12.66vw;
}
.hero__h {
  max-width: 623px;
  margin-bottom: 2.4vw;
}
.hero__p {
  max-width: 426px;
  margin-bottom: 2.85vw;
}
.hero__start, .hero__explore {
  padding: 0.971em 3.199em;
  text-align: center;
}
.hero__start {
  margin-right: 1.49vw;
  box-shadow: 0 30px 75px -10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1439px) {
  .hero {
    background: no-repeat 39.3% 5.8% url("../img/hero/bg-2.svg"), no-repeat 0% 41.6% url("../img/hero/bg-3.svg"), no-repeat 46.4% 41.5% url("../img/hero/bg-4.svg"), no-repeat 51.2% 75% url("../img/hero/bg-5.svg"), no-repeat 97% 82.7% url("../img/hero/bg-6.svg"), no-repeat 0% 92.5% url("../img/hero/bg-7.svg");
  }
}
@media screen and (max-width: 1023px) {
  .hero {
    background: none;
  }
  .hero__layout {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .hero__h, .hero__p {
    text-align: center;
  }
  .hero__start {
    margin-right: 0;
    margin-bottom: 3vw;
    box-shadow: none;
  }
  .hero__wrapper {
    display: flex;
    flex-direction: column;
  }
}
.sponsor {
  background: #F8F8F8;
}
.sponsor__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.sponsor__layout {
  padding: 4.79vw 1.875vw 4.247vw;
}

@media screen and (max-width: 1023px) {
  .sponsor__list {
    flex-direction: column;
  }
  .list-sponsor__item {
    margin-bottom: 3vw;
  }
}
.service {
  background: no-repeat top 87.8% left url("../img/service/bg-1.svg");
}
.service__layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 9.4vw;
  padding-bottom: 9.72vw;
}
.service__h {
  margin-bottom: 2.3vw;
  text-align: center;
}
.service__p {
  max-width: 620px;
  margin: 0 auto 5.7vw auto;
  text-align: center;
}
.service__wrapper {
  max-width: 1004px;
  margin: 0 auto 8.3vw;
}
.service__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.39vw;
  padding-left: 0;
  list-style: none;
}
.service__all {
  padding: 0.971em 3.558em;
}

.list-service__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 472px;
  width: calc(50% - 2.78vw);
  margin: 0px 1.39vw 2.78vw;
}
.list-service__item:nth-child(2n) {
  transform: translateY(80px);
}
.list-service__item:nth-child(4n+1) {
  clip-path: inset(0 0 0 0 round 50% 0 0 0);
}
.list-service__item:nth-child(4n+2) {
  clip-path: inset(0 0 0 0 round 0 50% 0 0);
}
.list-service__item:nth-child(4n+3) {
  clip-path: inset(0 0 0 0 round 0 0 0 50%);
}
.list-service__item:nth-child(4n+4) {
  clip-path: inset(0 0 0 0 round 0 0 50% 0);
}
.list-service__h {
  max-width: 7em;
  margin-bottom: 1.4vw;
  color: #fff;
  text-align: center;
}

.rate-list-service__icon:not(:last-child) {
  margin-right: 6.5px;
}

@media screen and (max-width: 1023px) {
  .service {
    background: none;
  }
  .service__layout {
    align-items: unset;
  }
  .service__wrapper {
    max-width: unset;
    margin: 0;
  }
  .service__list {
    display: block;
    margin: 0;
  }
  .service__all {
    align-self: center;
  }
  .list-service__item {
    width: unset;
    margin-right: 0;
    margin-left: 0;
  }
  .list-service__item:nth-child(n) {
    clip-path: none;
    transform: none;
  }
}
.feature {
  background: #F8F8F8;
}
.js .feature__container-middle {
  max-width: unset;
  margin: 0;
  padding-right: 0;
  padding-left: max((100% - 1170px) / 2, 15px);
}
.feature__layout-top {
  padding-top: 5.2vw;
  margin-bottom: 5.7vw;
}
.feature__layout-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.feature__layout-bottom {
  padding-bottom: 5.56vw;
}
.feature__h, .feature__p {
  text-align: center;
}
.feature__h {
  margin-bottom: 2.3vw;
}
.feature__p {
  max-width: 620px;
  margin: 0 auto;
}
.feature__swiper {
  padding-bottom: 5.56vw;
}
.feature__all {
  padding: 0.971em 3.558em;
}

.swiper-feature__wrapper {
  display: block;
}
.js .swiper-feature__wrapper {
  display: flex;
}
.swiper-feature__slide {
  height: auto;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s, border-color;
}
.swiper-feature__slide:hover h3, .swiper-feature__slide:hover a {
  color: var(--color-brand);
}
.swiper-feature__slide:hover {
  border-color: #fff;
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.2);
}
.swiper-feature__slide:not(:last-child) {
  margin-bottom: 2.78vw;
}
.js .swiper-feature__slide:not(:last-child) {
  margin-bottom: 0;
}
.js .swiper-feature__slide {
  width: 26.82%;
}

.slide-swiper-feature__body {
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2.5vw 2.29vw 2.7vw;
  text-align: center;
  background: #fff;
}
.slide-swiper-feature__h, .slide-swiper-feature__more {
  line-height: 1.17;
  transition: color 0.3s;
}
.slide-swiper-feature__h {
  margin-bottom: 1.8vw;
  font-size: 1.375rem;
  font-weight: 600;
}
.slide-swiper-feature__p {
  margin-bottom: 3.6vw;
}
.slide-swiper-feature__more {
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 500;
  margin-top: auto;
}

@media screen and (max-width: 1023px) {
  .swiper-feature__slide:hover h3, .swiper-feature__slide:hover a {
    color: var(--color-text);
  }
  .swiper-feature__slide:hover {
    border-color: var(--color-text);
    box-shadow: none;
  }
  .js .swiper-feature__slide {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .js .swiper-feature__slide {
    width: 90%;
  }
}
.testimonial {
  background: no-repeat top 56% right 0 url("../img/testimonial/bg-1.svg");
}
.testimonial__layout {
  padding-top: 9.35vw;
  margin-bottom: 9.3vw;
}
.testimonial__h, .testimonial__p {
  text-align: center;
}
.testimonial__h {
  margin-bottom: 2.4vw;
}
.testimonial__p {
  max-width: 620px;
  margin: 0 auto 5.56vw;
}

.swiper-testimonial__wrapper {
  display: block;
}
.js .swiper-testimonial__wrapper {
  display: flex;
  margin-bottom: 5.5vw;
}
.swiper-testimonial__slide {
  display: flex;
}
.swiper-testimonial__slide:not(:last-child) {
  margin-bottom: 1.39vw;
}
.js .swiper-testimonial__slide:not(:last-child) {
  margin-bottom: 0;
}
.swiper-testimonial__nav {
  display: none;
}
.js .swiper-testimonial__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-swiper-testimonial__img-wrapper {
  flex-shrink: 0;
  width: 33.473vw;
  margin-right: 1.39vw;
  clip-path: inset(0 0 0 0 round 50% 0 0 0);
}
.slide-swiper-testimonial__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slide-swiper-testimonial__body {
  box-sizing: border-box;
  flex: 1 1 668px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 7.22vw 2.78vw 9.55vw;
  background: #F8F8F8;
  clip-path: inset(0 0 0 0 round 0 0 42% 0);
}
.slide-swiper-testimonial__h {
  margin-bottom: 1.74vw;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.17;
}
.slide-swiper-testimonial__p {
  margin-bottom: 0.5vw;
}
.slide-swiper-testimonial__rate {
  margin-bottom: 0.95vw;
}
.slide-swiper-testimonial__name, .slide-swiper-testimonial__job {
  line-height: 1.17;
}
.slide-swiper-testimonial__name {
  margin-bottom: 6px;
}
.slide-swiper-testimonial__job {
  font-size: 0.875rem;
  font-weight: 400;
}

.nav-swiper-testimonial__btn {
  border: 1px solid currentColor;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 23px;
  width: 33px;
  color: var(--color-brand);
  background: #fff;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.nav-swiper-testimonial__btn:hover {
  border-color: var(--color-hover);
  color: #fff;
  background: var(--color-hover);
}
.nav-swiper-testimonial__btn--prev {
  margin-right: 10px;
}
.nav-swiper-testimonial__btn--disabled {
  border-color: darkgray !important;
  color: darkgray !important;
  background: gray !important;
  cursor: not-allowed;
}
.nav-swiper-testimonial__btn svg {
  transition: stroke 0.3s;
}

.rate-slide-swiper-testimonial__icon:not(:last-child) {
  margin-right: 3px;
}

@media screen and (max-width: 767px) {
  .testimonial {
    background: none;
  }
  .swiper-testimonial__slide {
    display: block;
  }
  .slide-swiper-testimonial__img-wrapper {
    width: unset;
    margin: 0;
    clip-path: none;
  }
  .slide-swiper-testimonial__body {
    clip-path: none;
  }
}
.plan__layout {
  margin-bottom: 7.9vw;
}
.plan__h {
  margin-bottom: 9.4vw;
  text-align: center;
}
.plan__list {
  display: flex;
  margin: 0 -1.46vw;
  padding-left: 0;
  list-style: none;
}

.list-plan__item {
  position: relative;
  width: 33.33%;
  padding: 0 1.46vw 1.46vw;
}
.list-plan__item--colored {
  transform: translateY(-50px);
}
.list-plan__body {
  border: 1px solid #D8D8D8;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3.2vw 2.92vw 3.4vw;
  background: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.list-plan__body--colored {
  border-color: #fff;
  box-shadow: 0 30px 40px 0px rgba(0, 0, 0, 0.1);
}
.list-plan__h, .list-plan__price {
  text-align: center;
  transition: color 0.3s;
}
.list-plan__h {
  margin-bottom: 1.18vw;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1;
}
.list-plan__h--colored {
  color: var(--color-brand);
}
.list-plan__price {
  margin-bottom: 1.55vw;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.17;
}
.list-plan__price--colored {
  color: var(--color-brand);
}
.list-plan__feature {
  margin-top: 0;
  margin-bottom: 2.4vw;
  padding-left: 0;
  list-style: none;
}
.list-plan__demo {
  margin-top: auto;
  padding: 1.027em 0;
}
.list-plan__demo--colored {
  color: #fff;
  background: var(--color-brand);
}

.feature-list-plan__item {
  position: relative;
  padding-left: max(2.4vw, 25px);
}
.feature-list-plan__item::before {
  content: url("../img/plan/check-common.svg");
  position: absolute;
  top: 0;
  left: 0.49vw;
}
.feature-list-plan__item--colored::before {
  content: url("../img/plan/check-active.svg");
}
.feature-list-plan__item:not(:last-child) {
  margin-bottom: 1.11vw;
}
.feature-list-plan__p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  transition: color 0.3s;
}
.feature-list-plan__p--colored {
  color: var(--color-brand);
}

@media screen and (max-width: 1023px) {
  .plan__list {
    display: block;
  }
  .list-plan__body {
    box-shadow: none;
  }
  .list-plan__item {
    width: unset;
  }
  .list-plan__item--colored {
    transform: none;
  }
  .list-plan__feature {
    align-self: center;
  }
}
.faq__layout {
  margin-bottom: 9.72vw;
}
.faq__acc {
  max-width: 706px;
  margin: auto;
}
.faq__h {
  margin-bottom: 5.9vw;
  text-align: center;
}

.acc-faq__item {
  border-radius: 10px;
  margin-bottom: 2.08vw;
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.acc-faq__item:not(:last-child) {
  margin-bottom: 2.05vw;
}
.acc-faq__control {
  align-items: center;
  justify-content: flex-start;
  min-height: 100px;
  padding: 1.823vw 6vw 1.823vw 3vw;
  background: #fff;
}
.acc-faq__icon {
  position: relative;
  flex: 0 0 26px;
  height: 26px;
  width: 26px;
  margin-right: 2.12vw;
}
.acc-faq__icon::before, .acc-faq__icon::after {
  content: "";
  position: absolute;
  border-radius: 3px;
  background: var(--color-text);
  transition: background-color 0.3s, opacity 0.3s;
}
.acc-faq__icon::before {
  height: 4px;
  width: 26px;
  transform: translateY(11px);
}
.acc-faq__icon::after {
  height: 26px;
  width: 4px;
  transform: translateX(11px);
}
.acc-faq__icon.acc__icon--open {
  transform: none;
}
.acc-faq__icon.acc__icon--open::before {
  background: var(--color-brand);
}
.acc-faq__icon.acc__icon--open::after {
  opacity: 0;
}
.acc-faq__title {
  margin-right: 0;
  padding-top: 0.05vw;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.17;
}
.acc-faq__content {
  padding: 0 8.2vw 4.09vw 6.8vw;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.48;
}
.acc-faq__content.acc__content--js {
  padding: 0 8.2vw 0 6.8vw;
}
.acc-faq__content.acc__content--open {
  padding: 0 8.2vw 4.09vw 6.8vw;
}

/* COLORED */
.colored {
  color: var(--color-brand);
}

@media screen and (max-width: 1023px) {
  :root {
    font-size: 18px;
  }
}
@media screen and (max-width: 1023px) {
  :root {
    font-size: 16px;
  }
}